<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bluemobi.mapper.app.AppLoginMapper">

	<select id="LoginApp" parameterType="Map" resultType="Map"   statementType="CALLABLE">
	call pro_login(
	#{ph,mode=IN,jdbcType=VARCHAR},
	#{pwd,mode=IN,jdbcType=VARCHAR},
	#{msg,mode=OUT,jdbcType=VARCHAR}
	)
	</select>
</mapper>