.icon-standard-information{background:url('icon-standard/16x16/information.png') no-repeat center center;}
.cog {background: url('icon-standard/16x16/cog.png') no-repeat center center;}
.tick {background: url('icon-standard/16x16/tick.png') no-repeat center center;}
.icon-arrow_left{background:url('icon-standard/16x16/arrow_left.png') no-repeat center center;}
.icon-arrow_right{background:url('icon-standard/16x16/arrow_right.png') no-repeat center center;}
.icon-arrow_skip_right{background:url('icon-standard/16x16/arrow-skip_right.png') no-repeat center center;}
.icon-arrow_skip_left{background:url('icon-standard/16x16/arrow-skip_left.png') no-repeat center center;}
