<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">   
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>        
 	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">   
        <layout class="org.apache.log4j.PatternLayout">   
            <param name="ConversionPattern"   
                value="%d{yyyy/MM/dd HH:mm:ss.sss} [%-5p] %c - %m%n"/>   
        </layout>   
    </appender>   
        
    <appender name="debugLog"  class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="Threshold" value="debug"></param>
        <param name="ImmediateFlush" value="true"></param>  
        <param name="File" value="/var/ftp/debug.log"></param>  
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>  
        </layout>  
    </appender>   
        
    <appender name="warnLog"  class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="Threshold" value="warn"></param>
        <param name="ImmediateFlush" value="true"></param>  
        <param name="File" value="/var/ftp/warn.log"></param>  
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>  
        </layout>  
    </appender>       
      <!-- 
    <appender name="infoLog"  class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="Threshold" value="info"></param>
        <param name="ImmediateFlush" value="true"></param>  
        <param name="File" value="/var/ftp/info.log"></param>  
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>  
        </layout>  
    </appender> 
     -->    
    <appender name="errorLog"  class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="Threshold" value="error"></param>
        <param name="ImmediateFlush" value="true"></param>  
        <param name="File" value="/var/ftp/error.log"></param>  
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>  
        </layout>  
    </appender>   
        
    <!-- 记录该包下所有日志 -->     
    <logger name="org.springframework">   
        <level value="error"/>   
        <appender-ref ref="stdout"/>   
        <appender-ref ref="errorLog"/>
    </logger>   
    
    <logger name="org.apache.commons">   
        <level value="error"/>   
        <appender-ref ref="stdout"/>   
        <appender-ref ref="errorLog"/>
    </logger>   
    
    
    <logger name="com.echoliv">  
    	<!-- 
        <level value="debug"/> 
       
        <appender-ref ref="infoLog"/>   
        <appender-ref ref="debugLog"/>   --> 
         <appender-ref ref="stdout"/>
        <appender-ref ref="errorLog"/>  
    </logger>   
</log4j:configuration>  
