<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="cn.bluemobi.entity.Admin" alias="admin"/>
		<typeAlias type="cn.bluemobi.entity.Authority" alias="authority"/>
		<typeAlias type="cn.bluemobi.entity.Group" alias="group"/>
	</typeAliases>
	
</configuration>		
			